.component {
  margin-top: 47px;
  min-width: 100px;

  ol {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  li {
    list-style-type: none;
  }

  button {
    font-size: 1rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 0.5px solid transparent;
    border-radius: 4px;
    padding: 0.5em 0.8em;
    margin-left: 1rem;

    &:hover:not(:disabled) {
      background-color: rgb(20, 20, 59);
      color: var(--secondary-color);
      border-color: currentColor;
    }

    &:disabled {
      opacity: 0.47;
    }
  }
}