body {
  margin: 80px;
  background: url('/public/space.jpg') no-repeat;
  background-size: cover;
  user-select: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 600;
  color: white;
}

button {
  cursor: pointer;
  line-height: 1;

  &:hover:not(:disabled) {
    opacity: 0.9;
  }
  
  &:disabled {
    cursor: not-allowed;
  }
}